.show {
  display: block;
}
.model_center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*模态框样式*/
#dateList .modal-content {
  min-height: 600px;
  min-width: 900px ;
}
#dateList .modal-content .modal-header {
  background-color: #2B99FF;
  color: #fff;
}
#dateList .modal-content .modal-body table {
  border: 1px solid #ddd;
  width: 100%;
}
#dateList .modal-content .modal-body table thead {
  background-color: #278ae6;
  color: #fff;
}
#dateList .modal-content .modal-body table thead tr th {
  height: 50px;
  vertical-align: middle;
  font-size: 19px;
  font-weight: normal;
}
#dateList .modal-content .modal-body table tbody tr td {
  height: 50px;
  vertical-align: middle;
}
#caseDate .modal-content {
  min-height: 600px;
  min-width: 900px ;
}
#caseDate .modal-content .modal-header {
  background-color: #2B99FF;
  color: #fff;
}
#caseDate .modal-content .modal-body {
  padding: 40px;
}
#caseDate .modal-content .modal-body form .form-group {
  margin: 30px 20px;
}
#caseDate .modal-content .modal-body form .form-group label {
  font-size: 20px;
  font-weight: normal;
}
#caseDate .modal-content .modal-body form .form-group button {
  width: 120px;
  margin: 10px 20px;
  vertical-align: middle;
}
#caseDate .modal-content .modal-body form .form-group button:first-child {
  background-color: #2B99FF;
  color: #fff;
}
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
br,
hr,
table,
tr,
td,
dl,
dt,
dd,
form {
  margin: 0;
  padding: 0;
}
#section {
  padding-top: 114px;
}
#section .container {
  width: 100%;
}
#section .container .row .col-xs-2 {
  width: 10%;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 2px #ddd;
  padding: 0;
}
#section .container .row .col-xs-2 ul.list-unstyled {
  text-align: center;
  margin: 0;
  height: 100%;
}
#section .container .row .col-xs-2 ul.list-unstyled li {
  background-color: #fff;
}
#section .container .row .col-xs-2 ul.list-unstyled li a {
  display: block;
  width: 100%;
  height: 140px;
  text-decoration: none;
  font-size: 2rem;
  padding-top: 2.5rem;
  color: #999;
}
#section .container .row .col-xs-2 ul.list-unstyled li a:focus {
  outline: none;
}
#section .container .row .col-xs-2 ul.list-unstyled li a span {
  display: block;
  margin: .8rem auto;
}
#section .container .row .col-xs-2 ul.list-unstyled li.li_active {
  background-color: #E7F5FF;
}
#section .container .row .col-xs-2 ul.list-unstyled li.li_active a {
  color: #2B99FF;
}
#section .container .row .col-xs-2 ul.list-unstyled li.li_active a:focus {
  outline: none;
}
#section .container .row .col-xs-10 {
  width: 90%;
  background-color: #F0F8FF ;
}
#section .container .row .col-xs-10 #tab_index,
#section .container .row .col-xs-10 #tab_case_build,
#section .container .row .col-xs-10 #tab_case_date,
#section .container .row .col-xs-10 #tab_case_play,
#section .container .row .col-xs-10 #tab_case_look {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}
